# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.vscode/
.idea/

# lockfiles
bun.lock

# build outputs
*.log

# Vite cache
node_modules/.vite

# test coverage
coverage/
